.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
  }
  
  @media (min-width: 768px) {
  .gradient-form {
  height: 100vh !important;
  }
  }
  @media (min-width: 769px) {
  .gradient-custom-2 {
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  }
  }

  .card_2 {
    height : 80vh;
    
  }


h5 {
  padding-top: 30px;
}

.input_preview {
  height: 200px;
  width: 200px;
}

.output_preview {
  height: 400px;
  width: 400px;
  padding-left: 0px;
  padding-right: 0px;
}


.demo_row {
  margin-top: 20px;
}


.col {
  align-items: center;
}


.symbol_0 {
  background-color: #000;
}
.symbol_1 {
  background-color: #0074D9; /* blue */
}
.symbol_2 {
  background-color: #FF4136; /* red */
}
.symbol_3 {
  background-color: #2ECC40; /* green */
}
.symbol_4 {
  background-color: #FFDC00; /* yellow */
}
.symbol_5 {
  background-color: #AAAAAA; /* grey */
}
.symbol_6 {
  background-color: #F012BE; /* fuschia */
}
.symbol_7 {
  background-color: #FF851B; /* orange */
}
.symbol_8 {
  background-color: #7FDBFF; /* teal */
}
.symbol_9 {
  background-color: #870C25; /* brown */
}

.symbol_preview {
  width: 30px;
  height: 30px;
  float: left;
}

#symbol_picker {
  float: left;
  margin-left: 20px;
  width: 100%;
}

.selected-symbol-preview {
  border: 2px solid rgb(255, 170, 0);
}

.cell_final {
  float: left
}
/*Selectable*/

.ui-selected.cell_final {
  background-image: url(../img/black-twill.png), url(../img/brushed-alum.png);
}
.ui-selectable-helper {
  border: 1px dotted #ddd;
  position: absolute;
  z-index: 1000;
}

#editor_grid_control_btns {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  background: white;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

#resize_control_btns {
  width: 100%;
  float:left;
  margin-bottom: 10px;
}

#submit_solution_btn {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(28, 184, 65);
}

#submit_solution_btn:active {
background: blue;
}

#select_util_btn button:active {
background: blue;
}

button:focus {outline:0;}

#toolbar {
  float: left;
  margin-left: 10px;
  margin-top: 18px;
  margin-bottom: 10px;
  width: 100%;

}

.arrow {
  margin: 90px auto;
  height: 20px;
}
